#### Learning outline
- Introduction to tuples
- creating tuples
- Accessing Tuple elements
- Tuple Operations
- Immutable Nature of Tuples
- Tuple Methods
- Packing an Unpacking Tuples
- Nested Tuples
- practicle egs and common Errors

##### Tuples:
Tuples are ordered collections of items that are immutable . They are similer to lists , but their immutability makes them different

In [42]:
## creating a tuple
empty_tuple =()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [55]:
lst =list()
print(type(lst))
tple= tuple()
print(type(tple))

<class 'list'>
<class 'tuple'>

###### f you accidentally assign a value to list or tuple (or any other built-in Python function name), you overwrite the original built-in function in the current namespace.

###### To restore the original definition, you can simply delete the custom variable  
- using del, which will remove the variable and revert to the built-in function.

- change the variable name
- run : del list 
- run : del tuple

In [71]:

numbers =tuple([1,2,3])
numbers

(1, 2, 3)

In [68]:
number = list((1,2,3))
print(number)

[1, 2, 3]

In [60]:
### accessing tuple Elements
numbers

[1, 2, 3]

In [69]:
numbers[-1]

3

In [63]:
numbers[:2]

[1, 2]

In [64]:
numbers[::-1]

[3, 2, 1]

In [66]:
numbers[0:3]

[1, 2, 3]

##### Can only concat tuples with tuples or list with list

In [72]:
## Tuple operation

mixed_tuple =(1,"hello_world",3.14,True)

concat_tuple = numbers+mixed_tuple
print(concat_tuple)

(1, 2, 3, 1, 'hello_world', 3.14, True)

In [73]:
## tuple appended

mixed_tuple*3

(1,
 'hello_world',
 3.14,
 True,
 1,
 'hello_world',
 3.14,
 True,
 1,
 'hello_world',
 3.14,
 True)

In [74]:
numbers*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [77]:
## list comprehension
[num*3 for num in number]

[3, 6, 9]

In [80]:
## Immutable nature of tuples
## Tuples are immutable once assigned cannot be changed

## ex: list is mutable 
lst =[1,2,3,4,5]
print(lst)
lst[2]="SJR"
print(lst)
## we can able to chnage the values of a particular index

[1, 2, 3, 4, 5]
[1, 2, 'SJR', 4, 5]

In [84]:
## tuple is not mutable
## will give error 'tuple' object does not support item assignment
tls = (1,2,"Harish chandra",3.14)
print(tls)
tls[1] = "SJR"
print(tls)

(1, 2, 'Harish chandra', 3.14)

TypeError: 'tuple' object does not support item assignment

#### Tuple methods
- count(value)
- index(value)

In [87]:
print(numbers)
type(numbers)

(1, 2, 3)

tuple

In [90]:
print(numbers.count(2))
print(numbers.index(3))

1
2

#### Packing and Unpacking

In [92]:
  ## packing tuple

pack_tuple = 1,2,"hello guys"
print(pack_tuple)
type(pack_tuple)

(1, 2, 'hello guys')

tuple

In [94]:
## unpack tuple is same like data destructure in js

a,b,c=pack_tuple
print(a)
print(b)
print(c)

1
2
hello guys

In [97]:
## unpack with *

numbers=1,2,3,4,5,6,7,8 
type(numbers)## pack

## unpack
first,*middle,last=numbers
print(first)
print(middle)
print(last)

print("type of middle :",type(middle))

1
[2, 3, 4, 5, 6, 7]
8
type of middle : <class 'list'>

#### Nested tuples

In [111]:
### Nested list
lst =[[1,2,3,4],[5,6,7,8],[1,"hello",3.14,'c']]
lst1 =[print(l) for l in lst]

[1, 2, 3, 4]
[5, 6, 7, 8]
[1, 'hello', 3.14, 'c']

In [118]:
third_ele=lst[0][2]
third_ele
type(third_ele)

int

In [121]:
## slicing op in list[list]
## print reverse the 2nd row of the list
lst[1][::-1]

[8, 7, 6, 5]

In [122]:
## inside list you can have tuples
lst2=[[1,2,3,4],[5,6,7,8],(1,"hello",3.14,'c')]
type(lst2[-1])

tuple

In [125]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[0][::-1])

(1, 2, 3)
(3, 2, 1)

In [132]:
## iterate with for loop 
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end="")
    print()

123
abc
TrueFalse