 In python variable are created when you assign value to them/
 And they do not need explicit declaration to reserve memory space/
the declaration happens when you assign a value to a variable

In [1]:
a=100

In [3]:
## declaring and assignin variable
age = 24
name = "Subhajyoti"
Height = 5.9

## print 
print("age :",age)
print("height :",Height)
print("name :",name)

age : 24
height : 5.9
name : Subhajyoti

In [4]:
## Naming convention
## variable name should be despcriptive
## start with a letter or '_' and contains letter ,numbers and underscores
## variable names case sensitive

## valid variable name 
fisrt_name = "SUBHAJYOTI"
last_name ="ROY"

##Invalid

#2age=30
## @name = "sjr"

In [7]:
## Understanding variable types
## pyhton is dynamically typed ,type of a variable is determined at runtime

age=25
height =6.1 
print(type(height))
print(type(age))

<class 'float'>
<class 'int'>

In [9]:
## Type checking and conversion

age=24
print(type(age))

# Type convesion

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
24
<class 'str'>

In [10]:
## Type conversion

# numerical string to int possible but no letter
age="25"
print(type(age))
print(type(int(age)))

<class 'str'>
<class 'int'>

In [11]:
name="sjr"
print(type(age))
print(type(int(name)))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'sjr'

In [12]:
## Float to int and vis

height = 5.9
type(height)

float

In [13]:
int(height) ## basically take floor

5

In [14]:
float(int(height)) 
## do not get back the og

5.0

In [15]:
## Dynamic Typing
## python allows the type of variable to change as the progrm executes

var=10
print(var,type(var))
var="hello"
print(var,type(var))
var=3.14
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [16]:
## input --> it comes in string format and need to typeCast to preferred datatype


age=input("What is the age")
print(age,type(age))

24 <class 'str'>

In [18]:
## input with type cast

height = float(input("what is your height ?? "))
print(height,type(height))

5.9 <class 'float'>

In [20]:
## simple calculator

num1 = float(input("enter 1st num "))
num2 = float(input("enter 2nd num "))

sum = num1+num2
diff = num1-num2
mul =num1*num2
div= num1/num2

print("sum :",sum)
print("difference :",diff)
print("multiplication :",mul)
print("divide :",div)

sum : 22.0
difference : -2.0
multiplication : 120.0
divide : 0.8333333333333334